.dashboard_container {
  margin: -100px auto;
  width: 80%;
  padding-top: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px -3px !important;
  border: none !important;
  border-radius: 5px;
  text-align: left;
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.87);
}

.title_name {
  width: 350px !important;
}

.dashboard_data {
  display: flex;
  gap: 10px;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid #efefef;
  color: #444e4a;
}

.special_effact_green {
  transition: background 0.35s ease 0s;
  background: rgba(24, 198, 131, 0.19);
  display: flex;
  gap: 10px;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid #efefef;
  color: #444e4a;
}

.special_effact_pink {
  transition: background 0.35s ease 0s;
  background: rgba(244, 67, 54, 0.19);
  display: flex;
  gap: 10px;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid #efefef;
  color: #444e4a;
}

.dashboard_data > div {
  width: 125px;
  gap: 5px;
  padding-right: 10px;
  text-align: right;
  padding-top: 15px;
  cursor: pointer;
}

.dashboard_data:hover {
  font-weight: 500;
  background-color: rgb(221, 221, 195);
}

.dashboard_data > div > img {
  margin-top: 1px;
  height: 22px;
}

.name_section {
  display: flex;
  text-align: left !important;
  padding-left: 40px !important;
}

.bottom_button {
  margin: 20px;
  padding-left: 43%;
}

@media screen and (max-width: 1100px) {
  .name_section {
    padding-left: 20px !important;
  }
  .vwam {
    display: none;
  }
  .volume {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .name_section {
    padding-left: 10px !important;
  }
  .supply {
    display: none;
  }
  .market {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  body {
    background-color: blue;
  }
}
