 .landing_container {
  background-image: linear-gradient(to right, #4055b8, #63b3f5);
  width: 90%;
  padding: 60px 5% 0px;
  padding-top: 60px;
  height: 200px;
}
.landing_container_data {
  display: flex;
  padding-top: 20px;
  gap: 8%;
  line-height: 1.4285em;
  color: whit;
  font-size: 16px;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  margin: 1em -1.5em 1em;
  justify-content: center;
  color: #ffffff !important;
  font-weight: 600;  
}


@media screen and (max-width: 1400px) {
  .landing_container {
    padding: 60px 5% 0px;
  }
  .landing_container_data {
    padding-top: 20px;
    gap: 5%;
    line-height: 1em;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .landing_container {
    padding: 60px 5% 0px;
    padding-top: 60px;
    height: 280px;
  }
  .landing_container_data {
    height: 120px;
    padding-top: 20px;
    gap: 15%;
    font-size: 16px; 
  }
}
@media screen and (max-width: 400px) {
  .landing_container {
    padding: 60px 5% 0px;
    padding-top: 60px;
    height: 280px;
  }
  .landing_container_data {
    height: 150px;
    padding-top: 20px;
    gap: 13%;
    font-size: 13px; 
  }
}