.Navbar_container {
  text-align: center;
  background-color: white;
  height: 45px;
  width: 100%;
  padding: 18px 12% 0px;
  position: fixed;
  display: flex;
  gap: 22%;
}

.coin_Section {
  display: flex;
  gap: 20px;
  cursor: pointer;
  margin-top: 3px;
  color: #4d4c4c;
}
.icon {
  margin-top: -5px;
}
.search_container {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.inputField {
  position: absolute;
  top: 20px;
  left: 50%;
  display: flex;
  height: 30px;
  cursor: pointer;
  /* background-color: red; */
  width: 200px;
  border-radius: 5px;
  border: 1px solid black;
}
.inputField > img {
  margin-top: -2px;
  padding-top: 2px;
  margin-right: 2px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
}
.inputField > input {
  border-radius: 5px;
  height: 27px;
  border: none;
}

@media screen and (max-width: 1400px) {
  body {
    background-color: lightgreen;
  }
  .Navbar_container {
    gap: 18%;
  }
  .inputField {
    left: 750px;
  }
}
@media screen and (max-width: 1100px) {
  body {
    background-color: green;
  }
  .Navbar_container {
    gap: 13%;
  }
  .search_container {
    gap: 10px;
  }
  .coin_Section {
    gap: 10px;
  }
  .inputField {
    left: 500px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: red;
  }
  .Navbar_container {
    gap: 3%;
  }
  .coin_Section {
    gap: 5px;
  }
  .search_container {
    gap: 5px;
  }
  .search_container > div > img {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  body {
    background-color: blue;
  }
  .Navbar_container {
    gap: 5%;
  }
  .search_container {
    gap: 10px;
  }
  .coin_Section {
    display: none;
  }
  .search_container > div > img {
    display: none;
  }
}
